
.container{
   padding: 3% 10%;
    margin: auto;
    font-family: Arial, sans-serif;
    text-transform: capitalize;
    line-height: 2rem;
}


p{color: gray;}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
  
}


.Hero_Section{
    float: left;
    width: 50%;
    height: 100%;
    padding: 5%;
    
    
  
}
h1{
 padding-right:40px;
 font-size: 50px;
  line-height: 4rem;
}
.Hero_Section p{
    padding: 20px 0;
    color: gray;
    font-size: 20px;
}
.a1, .a2{
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin: 60px 20px ;
}
.a1{
    background-color:black;
    color: white;
    margin-left: 0;
}
.a2{
    background-color: white;
    color: gray;
    border: 2px solid gray;
}
.clear_both{
    clear: both;
}
.Hero_Section img{
    width: 70%;
    border-radius: 10px;

}
.Why_Choose_Us
{
    padding: 5%;
}
.Why_Choose_Us .cards{
    background-color: white;
}
.Why_Choose_Us .tittle{
    margin-top: 90px;
      text-align: center;
    padding: 20px 0;
    font-size: 20px;
}
.Why_Choose_Us .cards .card{
    float: left;
    width: 30%;
    box-sizing: border-box;
    margin-right: 1%;
    border-radius: 10px;
    text-align: center;
}
.Why_Choose_Us .cards .card .inner-card{
    background-color: rgba(208, 226, 255, 1);
}
.Why_Choose_Us .cards .card .inner-card2{
    background-color:#bfffD6;
}
.Why_Choose_Us .cards .card .inner-card3{
    background-color:#ebe0ff;
}
.Why_Choose_Us .cards .card .icon{
   display: inline-block;
   padding: 5px;
   margin-top: 20px;
    border-radius: 5px;
}
.Why_Choose_Us .cards .card .icon.First{
    background-color:blue;
}

.Why_Choose_Us .cards .card .icon.sec{
   background-color:darkgreen;
}

.Why_Choose_Us .cards .card .icon.third{
    background-color:purple;
}


.Why_Choose_Us .cards .card .icon .innerIcon
{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: white;
    margin: auto;
    margin-top: 10px;
}
.Why_Choose_Us .cards .card .icon .innerIcon.sec
{
    border-radius: 50%;
}


.more-than-justa-gym img{
    
    border-radius: 10px;
}


.more-than-justa-gym .td {
    float: left;
    width: 50%;
    margin-top: 40px;
    
    
}
.td img{
    width: 98%;
}


.more-than-justa-gym .td div{
    border-left: 5px solid black;
    padding: 20px;
    margin: 2%;
    height: 83px;
}





.What-Our-Members-Say
{
    
    padding: 5%;
}
.What-Our-Members-Say .title{
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    margin-top: 90px;
    
}

.What-Our-Members-Say .items .item
{
    padding: 10px;
    float: left; 
    width: 30%;
    margin-right: 1%;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    background-color:oklch(88.2% .059 254.128);;
}
.img-wordls{
    float: left;
    width: 49%;
}
.What-Our-Members-Say .item .avatar img{
    width: 50%;
    border-radius: 50%;
}
.What-Our-Members-Say .item.item3{
    background-color:rgba(243, 179, 214,0.4);
}
.What-Our-Members-Say footer
{
    background-color: oklch(88.2% .059 254.128);
    margin-top: 50px;
    border-radius: 10px;
    padding: 25px;
}
.What-Our-Members-Say footer .fh{
    float: left;
    width: 23%;
    text-align: center;
    font-size: 30px;
    margin-top: 6px;
    margin-right: 1%;
}
.Ready-to-Start-Your-Fitness-Journey {
padding: 10%;
}
.Ready-to-Start-Your-Fitness-Journey .title
{
    text-align: center;
    padding: 20px 10px;
    font-size: 20px;
    margin-top: 90px;
    width: 80%;
    margin: auto;
}
.Ready-to-Start-Your-Fitness-Journey .label{
    width: 40%;
    float: left;
    font-size: 20px;
    margin-right: 20px;
    
}
label{color: rgba(95, 84, 153, 0.999);
display: block;
margin-top: 30px;}


.Ready-to-Start-Your-Fitness-Journey .input-name{
      width: 40%;
    float: left;
    font-size: 20px;
    border-radius: 10px;
    border: 3px solid gray;
    margin-right: 20px;
}


input  [type ="email"]{
    width: 100%;
    font-size: 20px;
    border: 3px solid gray;
    display: block;
    max-width: 100%;
    padding: 50px;
}

input  [type ="tel"]{
    min-width: 100%;
   
}

textarea{
    width: 100%;
    height: 100px;
    font-size: 20px;
    border: 3px solid gray;
    display: block;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
}

button{
    width: 100%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 30px;
    cursor: pointer;
    text-transform: capitalize;
}

form footer{
    clear: both;
    margin-top: 20px;
    text-align: center;
    color: gray;
}

.Last-Footer{
    padding: 4%;
    background-color: rgb(16, 23, 33);
    margin-top: 50px;
}


.Last-Footer .items .item
{
    padding: 10px;
    float: left; 
    width: 30%;
    margin-right: 1%;
    margin-top: 40px;
    color: white;
}

.Last-Footer .items .item .links{
    margin-top: 30px;
}
.Last-Footer .items .item .links.part2 ul li{
    display: block;
    margin-top: 10px;
}


.Last-Footer .items .item ul li 
{
    display: inline;
    margin-right: 10px;
    margin-top: 40px;
}

.Last-Footer .items .item ul li a{
    text-decoration: none;
    color: gray;
   
}
.link-phone a
{
  text-decoration: none;
    color: gray;
}

.end p{float: left;}
.end ul{float: right;}

.end ul li{
    display: inline;
     margin-right: 20px;  
    
}
.end ul li a{
    text-decoration: none;
    color: gray;
   
}
hr{
    color: gray;
}